.formCard {
  width: 16%;
  min-width: 400px;
  border-radius: 8px;
  padding: 40px 24px;
  border: 2px solid #969696;
  background: #27292d;
}

.formCard > h1,
h2 {
  text-align: center;
}

.formCard button {
  width: 100%;
}

.formCard > div {
  align-items: flex-start;
}

.formCard > input {
  width: 100%;
}

.form {
  margin: 20px 0px auto;
}

.footerRow {
  display: flex;
  align-items: center;
}

.footerRow span {
  font-size: 14px;
  font-weight: 500;
}

.footerRow > * {
  flex-shrink: 1;
  flex-basis: content;
  margin-top: 12px;
}

.footerRow > button {
  flex-shrink: 1;
  flex-basis: content;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}
