.wrapper {
  padding: 24px 12px;
  border-radius: 8px;
  background: #27292d;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.wrapper h2 {
  color: #c5c7ca;
}

.wrapper button {
  width: 120px;
  margin-left: auto;
}
